{% extends "base.html" %}

{% block content %}

<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.discription.label }} {{ form.discription }}
    <br />
    {% for task in form.tasks %}
        <div class="form-row task-row">
            <div class="form-group col-md-11">
                {{ task.label }} {{ task }}
                {{ task.csrf_token }}
                {{ task.delete_task }}
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-danger btn-sm delete-task">Delete task</button>
            </div>
        </div>
    {% endfor %}
    {{ form.add_task }}
    {{ form.create }}
</form>

<script>
    // Обработчик клика по кнопке "Delete task"
    document.querySelectorAll('.delete-task').forEach(button => {
        button.addEventListener('click', () => {
            const taskRow = button.closest('.task-row');
            taskRow.remove();
        });
    });
</script>

{% endblock content %}
