{% extends "base.html" %}


<style>
    p{
        text-align: justify;
    }
</style>

{% block content %}

<div class="col-md-7">
    <h2 class="mb-3">About us</h2>
    
    <p style="text-align: justify; font-size: 20px;">Welcome to our website! We have created this resource for people who have found a healthy lifestyle that works for them and want to share their experiences with others. Alternatively, if you are someone who is looking for ways to improve the quality of your life, you have come to the right place!</p>
    
    <p style="text-align: justify; font-size: 20px;">Our website offers a variety of programs and tasks that can help you achieve your personal wellness goals. Whether you are looking to eat healthier, exercise more, or reduce stress, we have something for everyone. All of our programs are designed by experts in their respective fields, so you can trust that you are getting high-quality advice and guidance.</p>
    
    <p style="text-align: justify; font-size: 20px;">Not sure where to start? Browse our collection of programs and find one that interests you. Each program contains a series of tasks that you can complete on your own time, at your own pace. And if you ever get stuck or need additional support, our community of users is here to help. You can connect with others who are working towards similar goals and share your experiences and advice.</p>
    
    <p style="text-align: justify; font-size: 20px;">So what are you waiting for? Start your journey towards a healthier, happier you today!</p>
</div>

{% endblock content %}